<!doctype html>
<html lang="pt-br" ng-app="agenda">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Agenda de Tarefas</h1>
	<div ng-controller="agendaController" style="width: 500px;">
		<form id="form" name="frm-list" ng-submit="addItem()">
			<input class="campo" type="text" ng-model="itemDaAgenda" name="itemDaAgenda"/>
			<p class="botaoAdiciona" ng-click="addItem()">Adicionar Tarefa</p>
		</form>

		<ul>
			<li ng-repeat="tarefa in tarefas">
				<input type="checkbox" ng-model="tarefa.done" />
				<span class="marcado-{{tarefa.done}}" ng-class="{'done':todo.done}">{{tarefa.title}}</span>
				<p class="botaoRemove" ng-click="removeTarefa()">x</p>
			</li>
		</ul>

		<p class="texto-status">Você possui {{tarefas.length}} tarefas cadastradas.</p>
		<p class="texto-status">Você possui {{StatusTarefas()}} tarefas pendentes.</p>

	</div>


	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/funcoes.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="js/app.js"></script>
  </body>

</html>
