<!doctype html>
<html lang="pt-br" ng-app="agenda">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

	<div ng-controller="agendaController" style="width: 500px;">
		<form name="frm-list" ng-submit="addItem()">
			<input type="text" ng-model="itemDaAgenda" name="itemDaAgenda"/>
			<button ng-disabled="frm-list.$invalid">Adicionar tarefa</button>
		</form>

		<ul>
			<li ng-repeat="tarefa in tarefas">
				<input type="checkbox" ng-model="tarefa.done" />
				<span class="marcado-{{tarefa.done}}" ng-class="{'done':todo.done}">{{tarefa.title}}</span>
				<button ng-click="removeTarefa()">remover tarefa</button>
			</li>
		</ul>

		<p class="texto-status">Você possui {{tarefas.length}} tarefas cadastradas.</p>
		<p class="texto-status">Você possui {{StatusTarefas()}} tarefas pendentes.</p>


		<hr />
		<a href="javascript:mudaCorTexto('.texto-status')">Mudar cor do texto do status</a><br />
		<a href="javascript:restaurarCorTexto('.texto-status')">Restaurar cor </a>

	</div>


	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/funcoes.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="js/app.js"></script>
  </body>

</html>
